<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @student.cohort %>
</p>

<p>
  <strong>Information:</strong>
  <%= %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %>
<br>
<td><%= link_to 'Delete', student_path(@student),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
<br>
<%= link_to 'Directory', students_path %>
